<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.amplafi.android" android:versionCode="1"
	android:versionName="1.0" android:installLocation="auto">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true" android:theme="@style/ClientTheme">
		<activity android:name=".AuthActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".MessagesListActivity" />
		<activity android:name=".MessageEditActivity" />
		<activity android:name=".PreferenceActivity" />
	</application>

	<uses-sdk android:targetSdkVersion="9" android:minSdkVersion="7" />
</manifest> 
